body {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
lengend {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
address {
	font-style: normal;
}
cite {
	font-style: normal;
}
dfn {
	font-style: normal;
}
em {
	font-style: normal;
}
var {
	font-style: normal;
}
code {
	font-family: "Courier New", Courier, monospace;
}
kbd {
	font-family: "Courier New", Courier, monospace;
}
pre {
	font-family: "Courier New", Courier, monospace;
}
samp {
	font-family: "Courier New", Courier, monospace;
}
tt {
	font-family: "Courier New", Courier, monospace;
}
small {
	font-size: 12px;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
acronym[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
legend {
	color: rgb(0, 0, 0);
}
fieldset {
	border: currentColor;
}
img {
	border: currentColor;
}
button {
	font-size: 100%;
}
input {
	font-size: 100%;
}
select {
	font-size: 100%;
}
textarea {
	font-size: 100%;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
hr {
	border: currentColor; height: 1px;
}
html {
	-ms-overflow-x: hidden; -ms-overflow-y: scroll;
}
body {
	margin: 0px auto; text-align: center; font-family: "Microsoft YaHei", "Î¢ÈíÑÅºÚ","ËÎÌå", "SimHei", "ºÚÌå","Arial"; font-size: 12px; -ms-overflow-x: hidden; background-repeat: no-repeat;
}
img {
	border: 0px currentColor;
}
a {
	color: rgb(51, 51, 51); text-decoration: none; cursor: pointer;
}
a:hover {
	color: rgb(255, 136, 0); text-decoration: none; -ms-zoom: 1;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.center {
	margin: 0px auto;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.red {
	color: rgb(215, 0, 0);
}
.font_bolder {
	font-weight: bold;
}
.hide {
	display: none;
}
.block {
	display: block;
}
.inlineBlock {
	display: inline-block;
}
.padding0_10 {
	padding: 0px 10px;
}
.radio {
	top: 3px; position: relative; cursor: pointer;
}
.checkbox {
	top: 3px; position: relative; cursor: pointer;
}
.buttons {
	margin: 10px 0px; text-align: right; clear: both;
}
.breadcrumb {
	margin: 0px auto; padding: 10px 0px; width: 1024px; text-align: left; color: rgb(116, 110, 110); font-size: 13px; display: block;
}
.breadcrumb a {
	color: rgb(0, 133, 207); font-size: 13px;
}
.breadcrumb a:hover {
	color: rgb(255, 74, 0);
}
.tip_welcome {
	width: 100%; height: 20px; line-height: 20px; padding-bottom: 5px; padding-left: 2px; clear: both; font-size: 14px; font-weight: bold; display: block;
}
.mainBody {
	margin: 0px auto 20px; padding: 0px 0px 15px; width: 1024px; text-align: left; display: block; min-height: 400px;
}
.mainBody .leftContent {
	width: 190px; vertical-align: top; float: left; display: inline-block;
}
.mainBody .rightContent {
	width: 820px; float: right; display: inline-block; _width: 805px;
}
.mainBody .sidebar {
	background: rgb(245, 245, 245); width: 100%; padding-bottom: 10px; float: left; min-height: 500px;
}
.mainBody .sidebar-item {
	border-top-color: currentColor; border-right-color: currentColor; border-left-color: currentColor; border-top-width: 0px; border-right-width: 0px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-left-style: none;
}
.mainBody .sidebar-item-header {
	padding: 3px 0px 3px 15px; color: rgb(255, 255, 255); line-height: 22px; font-size: 14px; background-color: rgb(255, 119, 42);
}
.mainBody .sidebar-item-content {
	line-height: 25px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.mainBody .sidebar-item-content ul li {
	padding-left: 35px;
}
.mainBody .sidebar-item-content ul li.actived {
	background: rgb(255, 255, 255); border-right-color: currentColor; border-left-color: rgb(255, 119, 42); border-right-width: 0px; border-left-width: 3px; border-right-style: none; border-left-style: solid;
}
.mainBody .sidebar-item-content ul li.actived a {
	color: rgb(0, 133, 207); font-weight: bold;
}
.mainBody .sidebar-item-content ul {
	margin: 5px 0px;
}
.yinying {
	box-shadow: 2px 2px 10px #909090; -moz-box-shadow: 2px 2px 10px #909090; -webkit-box-shadow: 2px 2px 10px #909090;
}
.pagetop {
	background: rgb(247, 247, 247); height: 29px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.top_main {
	margin: 0px auto; width: 1024px; height: 29px; line-height: 29px;
}
.welcome {
	margin: auto 20px; float: right;
}
.mycar {
	margin: auto 20px; float: right;
}
.user {
	margin: auto 20px; float: right;
}
.mycar b {
	color: rgb(255, 0, 0);
}
.checktop {
	margin: auto 40px; float: left;
}
.checktop span {
	margin: auto 10px; font-size: 14px; font-weight: bold;
}
#checkoptions {
	list-style: none; padding: 0px; border: 1px solid rgb(204, 0, 0); width: 300px; font-size: 14px; display: none; position: absolute; background-color: rgb(255, 255, 255);
}
#checkoptions li {
	margin: 5px; text-decoration: none; float: left; white-space: nowrap;
}
#user_options {
	list-style: none; padding: 0px; border: 1px solid rgb(204, 0, 0); width: 60px; font-size: 12px; display: none; position: absolute; background-color: rgb(255, 255, 255);
}
#user_options li {
	margin: 3px; width: 60px; float: left;
}
.site_head {
	margin: 0px auto 10px; width: 1024px; height: 80px;
}
.head_log {
	margin-top: 10px; margin-left: 10px; float: left;
}
.head_log img {
	border: 0px currentColor;
}
.t_search {
	width: 450px; height: 80px; margin-top: 35px; margin-right: 40px; margin-left: 100px; float: left;
}
.t_sear {
	width: 450px; height: 28px; overflow: hidden; float: left; background-color: rgb(102, 102, 102);
}
.inputBox {
	border: 2px solid rgb(102, 102, 102); width: 363px; height: 22px; line-height: 20px; float: left;
}
.search {
	padding: 0px; border: currentColor; width: 80px; height: 30px; color: rgb(255, 255, 255); font-size: 16px; font-weight: bold; float: left; cursor: pointer; background-color: rgb(102, 102, 102);
}
.t_search p {
	margin: 5px 5px 5px 0px; width: 400px; height: 20px; text-align: left; color: rgb(102, 102, 102); line-height: 20px; overflow: hidden; padding-left: 0px; font-size: 12px; float: left;
}
.t_search p a {
	color: rgb(102, 102, 102); margin-right: 5px;
}
.t_search p a:hover {
	color: rgb(255, 70, 70);
}
.top_ad {
	width: 200px; height: 70px; overflow: hidden; margin-top: 20px; margin-left: 20px; float: left;
}
.top_ad img {
	width: 200px; height: 70px;
}
.type_banner {
	background: rgb(255, 119, 42); margin: 0px; padding: 0px; width: 100%; height: 38px; line-height: 38px;
}
.type_banner .cart {
	background: url("../images/cart.gif") no-repeat 9px 43%; color: rgb(255, 255, 255); padding-right: 5px; padding-left: 39px; font-size: 14px; float: right;
}
.type_banner .cart:hover {
	background: url("../images/cart.gif") no-repeat 9px 43% rgb(219, 102, 36); text-decoration: none;
}
.type_bar {
	margin: 0px auto; width: 1024px; height: 35px;
}
.type_bar ul.main_menu {
	list-style: none; margin: 0px; padding: 0px; width: 800px; height: 38px; float: left;
}
.type_bar .main_menu li {
	margin: 0px; padding: 0px; width: 80px; height: 38px; float: left;
}
.type_bar_right {
	margin: 7px 0px 0px; width: 125px; height: 25px; float: right;
}
.type_bar_right a {
	font: 12px/normal "Î¢ÈíÑÅºÚ"; padding: 5px 26px; color: white; float: right; display: block; font-size-adjust: none; font-stretch: normal;
}
.select_bar {
	background: rgb(219, 102, 36); width: 80px; height: 38px; float: left;
}
.type_bar .main_menu li a:hover {
	background: rgb(219, 102, 36); width: 80px; height: 38px; float: left;
}
.type_bar .main_menu li a:hover {
	
}
.type_bar .main_menu li a {
	background-position: 0px -313px; font: bold 15px/40px "microsoft yahei"; width: 80px; height: 35px; color: white; text-decoration: none; float: left; font-size-adjust: none; font-stretch: normal;
}
.typetips {
	list-style: none; border: 2px solid rgb(204, 0, 0); width: 620px; padding-left: 0px; font-size: 12px; display: none; position: absolute; background-color: rgb(255, 255, 255);
}
.typetips span {
	margin: 6px 3px 3px; width: 65px; height: 100%; text-align: right; color: rgb(255, 110, 107); font-size: 12px; font-weight: bold; float: left;
}
.typeli {
	width: 620px; padding-top: 10px; padding-bottom: 10px; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: dashed; float: left;
}
.typetips ul {
	list-style: none; margin: 3px; width: 530px; padding-left: 0px; float: right;
}
.typetips ul li {
	margin: 5px 0px 5px 6px; line-height: 14px; padding-left: 10px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; float: left; display: block; white-space: nowrap;
}
.typetips ul a {
	
}
.orange {
	color: rgb(255, 85, 0);
}
.simple-autocomplete-container {
	border: 1px solid rgb(221, 221, 221); background-color: rgb(255, 255, 255);
}
.simple-autocomplete-container ul {
	list-style: none; margin: 0px; text-align: left; padding-left: 0px;
}
.simple-autocomplete-container li {
	margin: 0px; height: 30px; line-height: 30px; padding-left: 15px; font-size: 14px;
}
.simple-autocomplete-select {
	background: rgb(255, 223, 198); font-weight: bold;
}
#customer_service_flag {
	background: url("../images/kefu_left.png"); width: 38px; height: 154px; display: none;
}
#customer_service {
	margin: 0px; padding: 0px; width: 160px; overflow: auto; display: none; background-color: rgb(255, 255, 255);
}
#customer_service h3 {
	background: url("../images/kefu_title.png"); margin: 0px; height: 32px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; font-size: 14px; display: block;
}
#customer_service ul {
	list-style: none; margin: 0px; overflow: auto; padding-left: 0px; border-right-color: rgb(134, 0, 0); border-bottom-color: rgb(134, 0, 0); border-left-color: rgb(134, 0, 0); border-right-width: 5px; border-bottom-width: 8px; border-left-width: 5px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
#customer_service ul li {
	list-style: none; margin: 0px; padding: 5px; height: 25px; text-align: left; line-height: 25px; overflow: hidden;
}
#customer_service ul li img {
	width: 22px; height: 22px; float: left;
}
#customer_service ul li a {
	height: 22px; line-height: 22px; margin-left: 5px;
}
.clear20px {
	width: 100%; height: 20px; clear: both; display: block;
}
.clear10px {
	width: 100%; height: 10px; clear: both; display: block;
}
.service_bg {
	padding: 20px 0px; overflow: auto; clear: both; background-color: rgb(51, 51, 51);
}
.service {
	margin: 0px auto; width: 850px; text-align: left; overflow: auto;
}
.service ul {
	list-style: none; margin: 0px 5px; width: 158px; color: rgb(170, 170, 170); line-height: 15px; padding-left: 0px; float: left;
}
.service h3 {
	margin: 0px; padding: 0px; color: rgb(238, 238, 238); line-height: 30px; font-size: 16px;
}
.service li {
	line-height: 25px; overflow: auto;
}
.service li a {
	font-size: 12px;
}
.service ul a {
	text-align: left; color: rgb(177, 177, 177);
}
.copyright_bg {
	background: rgb(192, 66, 26); margin: 0px; width: 100%; clear: both;
}
.copyright {
	margin: 0px auto; width: 1024px; height: 120px;
}
.copyright_link {
	list-style: none; margin: 0px auto; width: 900px; height: 30px; text-align: center; line-height: 30px; padding-left: 150px;
}
.copyright_link li {
	margin: 0px auto; height: 30px; color: rgb(255, 255, 255); line-height: 30px; float: left;
}
.copyright_link li a {
	color: rgb(255, 255, 255);
}
.copyright_link li a span {
	padding: 0px 10px;
}
.copyright_lianjie {
	list-style: none; margin: 0px auto; width: 240px; height: 30px; text-align: center; line-height: 30px;
}
.copyright_lianjie li {
	margin: 0px 10px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px;
}
.copyright_lianjie li a {
	color: rgb(255, 255, 255);
}
.copyright_foot {
	list-style: none; margin: 10px auto; width: 450px; height: 40px; text-align: center; color: rgb(255, 255, 255);
}
.copyright_foot a img {
	width: 70px; height: 30px;
}
.copyright_foot li {
	margin: 0px 10px; height: 30px; float: left;
}
.footer {
	background: rgb(7, 115, 175); padding: 20px; text-align: center; color: rgb(255, 255, 255); line-height: 30px;
}
.footer span {
	padding-bottom: 15px; display: block;
}
.footer span img {
	margin: 0px 18px; _behavior: none;
}
.footer a {
	padding: 3px 5px; color: rgb(255, 255, 255);
}
.footer a:hover {
	background: rgb(39, 175, 251); color: rgb(255, 255, 255);
}
.footlink {
	background: url("../images/footlink_bj.png") repeat-x; overflow: hidden; padding-top: 35px; -ms-zoom: 1;
}
.footlink_zp ul {
	margin: 0px auto;
}
.footlink_zp ul li {
	width: 150px; float: left;
}
.footlink_zp ul li span {
	background: url("../images/footlink.png") no-repeat; height: 40px; padding-left: 46px; float: left; display: block;
}
.footlink_zp ul li span.f_zp {
	background-position: 0px 3px;
}
.footlink_zp ul li span.f_mf {
	background-position: 0px -58px;
}
.footlink_zp ul li span.f_dj {
	background-position: 0px -120px;
}
.footlink_zp ul li span.f_sh {
	background-position: 0px -172px;
}
.footlink_zp ul li font {
	color: rgb(138, 137, 136); line-height: 18px; font-family: "Microsoft YaHei"; font-size: 14px; font-weight: bold; float: left; display: block;
}
.footlink_lj {
	overflow: hidden; padding-top: 30px; position: relative; -ms-zoom: 1;
}
.footlink_lj ul {
	padding-bottom: 20px; margin-left: 50px; float: left; display: inline;
}
.footlink_lj ul li {
	width: 130px; float: left;
}
.footlink_lj ul li span {
	color: rgb(9, 98, 187); padding-bottom: 10px; font-family: "Microsoft YaHei"; font-size: 16px; display: block;
}
.footlink_lj ul li a {
	line-height: 26px; font-family: "Microsoft YaHei"; display: block;
}
.footlink_lj dl {
	float: left;
}
.footlink_lj dl dt {
	padding-right: 20px; float: left;
}
.footlink_lj dl dd {
	background: url("../images/footlink_lx.png") no-repeat; padding-left: 42px; float: left;
}
.footlink_lj dl dd span {
	line-height: 32px; font-family: "Microsoft YaHei"; font-size: 18px; display: block;
}
.fx_jia {
	background: rgb(7, 115, 175); right: 50px; bottom: 0px; position: absolute; _bottom: -2px;
}
.big_button {
	padding: 0px 40px; border: currentColor; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-size: 16px; text-decoration: none; margin-right: 5px; display: inline-block; cursor: pointer; background-color: rgb(236, 79, 34);
}
.small_button {
	padding: 0px 8px; border: currentColor; height: 25px; text-align: center; color: rgb(255, 255, 255); line-height: 25px; font-size: 12px; text-decoration: none; margin-right: 5px; display: inline-block; cursor: pointer; background-color: rgb(236, 79, 34);
}
.middle_button {
	padding: 8px 25px; border: currentColor; text-align: center; color: rgb(255, 255, 255); font-size: 12px; text-decoration: none; margin-right: 5px; display: inline-block; cursor: pointer; background-color: rgb(236, 79, 34);
}
.small_button:hover {
	background: rgb(255, 107, 49); color: rgb(255, 255, 255);
}
.big_button:hover {
	background: rgb(255, 107, 49); color: rgb(255, 255, 255);
}
.middle_button:hover {
	background: rgb(255, 107, 49); color: rgb(255, 255, 255);
}
.green.small_button {
	background: rgb(25, 165, 148);
}
.green.big_button {
	background: rgb(25, 165, 148);
}
.green.middle_button {
	background: rgb(25, 165, 148);
}
.green.small_button:hover {
	background: rgb(22, 178, 142); color: rgb(255, 255, 255);
}
.green.big_button:hover {
	background: rgb(22, 178, 142); color: rgb(255, 255, 255);
}
.green.middle_button:hover {
	background: rgb(22, 178, 142); color: rgb(255, 255, 255);
}
.lightblue.small_button {
	background: rgb(27, 156, 195);
}
.lightblue.big_button {
	background: rgb(27, 156, 195);
}
.lightblue.middle_button {
	background: rgb(27, 156, 195);
}
.lightblue.small_button:hover {
	background: rgb(27, 142, 177); color: rgb(255, 255, 255);
}
.lightblue.big_button:hover {
	background: rgb(27, 142, 177); color: rgb(255, 255, 255);
}
.lightblue.middle_button:hover {
	background: rgb(27, 142, 177); color: rgb(255, 255, 255);
}
.grey.small_button {
	background: rgb(214, 214, 214); color: rgb(136, 136, 136);
}
.grey.big_button {
	background: rgb(214, 214, 214); color: rgb(136, 136, 136);
}
.grey.middle_button {
	background: rgb(214, 214, 214); color: rgb(136, 136, 136);
}
.grey.small_button:hover {
	background: rgb(226, 226, 226); color: rgb(255, 255, 255);
}
.grey.big_button:hover {
	background: rgb(226, 226, 226); color: rgb(255, 255, 255);
}
.grey.middle_button:hover {
	background: rgb(226, 226, 226); color: rgb(255, 255, 255);
}
.white.small_button {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); height: 27px; color: rgb(136, 136, 136);
}
.white.big_button {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); height: 27px; color: rgb(136, 136, 136);
}
.white.middle_button {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); height: 27px; color: rgb(136, 136, 136);
}
.white.small_button:hover {
	background: rgb(241, 241, 241);
}
.white.big_button:hover {
	background: rgb(241, 241, 241);
}
.white.middle_button:hover {
	background: rgb(241, 241, 241);
}
div.grid table.list {
	width: 100%;
}
div.grid table.list th {
	background: rgb(245, 245, 245); padding: 0px 4px; height: 30px; color: rgb(51, 51, 51); font-weight: normal; border-top-color: rgb(192, 192, 192); border-bottom-color: rgb(228, 228, 228); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; white-space: nowrap;
}
div.grid table.list .headRow {
	background: rgb(255, 248, 219); text-align: left; padding-left: 25px; font-size: 14px; font-weight: bold; border-bottom-color: rgb(214, 207, 207); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.grid table.list td {
	padding: 6px 6px 6px 0px; text-align: center; line-height: 28px; border-bottom-color: rgb(230, 230, 230); border-bottom-width: 1px; border-bottom-style: solid;
}
div.grid table.list td a {
	color: rgb(0, 133, 207);
}
div.grid table.list td a:hover {
	color: rgb(255, 74, 0);
}
div.grid table.list .last td {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
div.panel {
	border: 1px solid rgb(228, 228, 228); width: 100%; margin-bottom: 10px;
}
div.panel .head {
	background: -ms-linear-gradient(rgb(245, 245, 245) 1%, rgb(241, 241, 241) 100%); padding: 0px 14px; height: 30px; color: rgb(51, 51, 51); line-height: 30px; font-size: 14px; font-weight: normal; border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: solid; white-space: nowrap;
}
div.panel .head a {
	color: rgb(0, 133, 207); font-family: "ËÎÌå"; font-size: 12px;
}
div.panel .content .item_title {
	padding: 7px 15px; color: rgb(119, 119, 119); font-size: 14px;
}
div.panel .content .item_row {
	padding: 5px 0px 5px 30px; line-height: 22px; font-family: "ËÎÌå","arial"; font-size: 12px; -ms-zoom: 1;
}
div.panel .content ul.grid {
	
}
div.panel .content ul.grid li {
	padding: 5px 0px 5px 30px; line-height: 22px; font-family: "ËÎÌå","arial"; font-size: 12px; -ms-zoom: 1;
}
div.panel .content ul.grid li div {
	display: inline-block;
}
div.panel .content ul.grid li .item_info {
	width: 750px; _width: 675px;
}
div.panel .content ul.grid li .item_info .name {
	width: 120px; padding-left: 10px; font-family: "ËÎÌå","Tahoma","arial"; display: inline-block;
}
div.panel .content ul.grid li .item_info .view {
	padding: 0px 10px; font-family: "ËÎÌå","Tahoma","arial"; font-size: 12px;
}
div.panel .content ul.grid li .item_link {
	width: 88px; text-align: right; float: right;
}
div.panel .content ul.grid li .item_link span {
	margin-right: 15px; display: none;
}
div.panel .content ul.grid li .item_link a {
	margin-right: 15px; display: none;
}
div.panel .content ul.grid li:hover .item_link {
	display: inline-block;
}
div.panel .content ul.grid li.actived .item_link {
	display: inline-block;
}
div.panel .content ul.grid li:hover {
	background: rgb(245, 245, 245);
}
div.panel .content ul.grid li.actived {
	background: rgb(245, 245, 245);
}
div.panel .content ul.grid li:hover .item_link a {
	display: inline-block;
}
div.panel .content ul.grid li.actived .item_link a {
	display: inline-block;
}
.panel.div .content ul.grid li.actived .name {
	font-weight: bold;
}
div.panel .content a.single {
	color: rgb(0, 133, 207);
}
div.panel .content .item_link a {
	color: rgb(0, 133, 207);
}
div.panel .content a.single {
	padding: 15px; width: 100px; display: block;
}
div.panel .content a.single:hover {
	color: rgb(255, 74, 0);
}
div.panel .content .item_link a:hover {
	color: rgb(255, 74, 0);
}
div.panel ul.list {
	margin: 0px auto;
}
div.panel ul.list li {
	color: rgb(136, 136, 136); border-bottom-color: rgb(241, 234, 234); border-bottom-width: 1px; border-bottom-style: solid;
}
div.panel ul.list li:hover {
	background: rgb(255, 255, 255);
}
div.panel ul.list .name {
	font-weight: bold;
}
div.panel ul.list .view {
	padding-right: 20px; float: right;
}
.blockForm {
	background: rgb(245, 245, 245); margin: 5px 0px; padding: 20px 0px 20px 160px; display: none;
}
.blockForm .msg-wrap {
	padding-top: 5px;
}
.blockForm .item {
	line-height: 38px; font-size: 12px; vertical-align: middle;
}
.blockForm div .title {
	width: 105px; text-align: left; display: inline-block;
}
.blockForm div .title em {
	color: rgb(255, 102, 0); font-family: sans-serif; margin-right: 5px;
}
div.panel .content ul li div.item_sub_content {
	padding-left: 150px; display: none;
}
.progress {
	background: rgb(240, 240, 240); width: 600px; margin-bottom: 10px; position: relative;
}
.progress ul {
	height: 32px; overflow: hidden;
}
.progress li {
	width: 200px; text-align: center; color: rgb(119, 119, 119); line-height: 32px; font-size: 14px; float: left; position: relative; z-index: 2;
}
.progress li em {
	border-width: 24px 0px 24px 24px; border-style: dashed dashed dashed solid; border-color: transparent transparent transparent rgb(255, 255, 255); top: -8px; width: 0px; height: 0px; right: -24px; line-height: 0; position: absolute;
}
.progress li i {
	border-width: 16px 0px 16px 16px; border-style: dashed dashed dashed solid; border-color: transparent transparent transparent rgb(240, 240, 240); top: 0px; width: 0px; height: 0px; right: -16px; line-height: 0; position: absolute;
}
.progress li.current {
	background: rgb(255, 119, 42); color: rgb(255, 255, 255); z-index: 1;
}
.progress li.current i {
	border-color: transparent transparent transparent rgb(255, 119, 42);
}
.progress li.already {
	background: rgb(248, 177, 137); color: rgb(255, 255, 255); z-index: 2;
}
.progress li.already i {
	border-color: transparent transparent transparent rgb(248, 177, 137);
}
.icon {
	font-size: 0px; margin-right: 5px; vertical-align: middle; display: inline-block;
}
.icon_msg3 {
	background: url("../images/icon32x32.png") no-repeat; width: 32px; height: 32px;
}
.icon_msg3_right {
	
}
.icon_msg3_error {
	background-position: -40px 0px;
}
.icon_msg3_warn {
	background-position: -80px 0px;
}
.dropdown {
	color: rgb(255, 255, 255); float: left; position: relative; z-index: 700;
}
.dropdown_con {
	height: 37px;
}
.dropdown_lk {
	float: left;
}
.dropdown .dropdown_lk {
	color: rgb(255, 255, 255); text-decoration: none;
}
.dropdown .dropdown_lk:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.dropdown_ico {
	background-position: -60px -240px; width: 23px; height: 20px; margin-top: 7px; margin-left: 10px; float: left;
}
.dropdown_tit {
	font: 400 14px/35px "Î¢ÈíÑÅºÚ", Arial; padding-right: 6px; padding-left: 6px; float: left; font-size-adjust: none; font-stretch: normal;
}
.dropdown_num {
	width: 25px; text-align: right; line-height: 35px; float: left;
}
.dropdown_arrow {
	border: 1px solid rgb(255, 136, 0); width: 12px; height: 12px; overflow: hidden; margin-top: 12px; margin-left: 8px; float: left; display: inline; background-color: rgb(255, 255, 255);
}
.dropdown_arrow i.icon {
	border-width: 4px; border-style: solid dashed dashed; border-color: rgb(255, 136, 0) transparent transparent; width: 0px; height: 0px; overflow: hidden; font-size: 0px; margin-top: 4px; margin-left: 2px; float: left; cursor: pointer;
}
.ic_chrome .dropdown_arrow i.icon {
	transform-origin: 50% 20%; transition:transform 0.3s ease-out; -webkit-transition: -webkit-transform .3s ease-out; -webkit-transform-origin: 50% 20%;
}
.ic_firefox .dropdown_arrow i.icon {
	transform-origin: 50% 20%; transition:transform 0.3s ease-out; -webkit-transition: -webkit-transform .3s ease-out; -webkit-transform-origin: 50% 20%;
}
.dropdown_on .dropdown_con {
	z-index: 2;
}
.dropdown_on .dropdown_arrow i.icon {
	border-style: dashed dashed solid; border-color: transparent transparent rgb(255, 136, 0); margin-top: 0px;
}
.ic_firefox .dropdown_on .dropdown_arrow i.icon {
	border-style: solid dashed dashed; border-color: rgb(255, 136, 0) transparent transparent; margin-top: 4px; transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
.ic_chrome .dropdown_on .dropdown_arrow i.icon {
	border-style: solid dashed dashed; border-color: rgb(255, 136, 0) transparent transparent; margin-top: 4px; transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
.dropdown_on .dropdown_pop {
	display: block;
}
.dropdown_pop {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(221, 221, 221) rgb(221, 221, 221); top: 37px; width: 250px; right: 0px; color: rgb(85, 85, 85); display: none; position: absolute; z-index: 1; box-shadow: 2px 2px 2px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255);
}
.dropdown_pop_bod {
	width: 100%; height: 3px; overflow: hidden; display: block; background-color: rgb(255, 136, 0);
}
.dropdown_pop_inner {
	border-width: 0px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204);
}
.dropdown_empty {
	padding: 12px 10px;
}
.dropdown_empty p {
	line-height: 20px;
}
.dropdown_empty a {
	color: rgb(49, 126, 231);
}
.dropdown_list {
	padding: 0px 10px;
}
.dropdown_list li {
	padding: 8px 0px; width: 100%; line-height: 30px; overflow: hidden; font-size: 12px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted; -ms-zoom: 1;
}
.dropdown_list li span {
	text-align: left; padding-right: 10px; margin-right: 10px; vertical-align: top; display: inline-block;
}
.dropdown_list li span a {
	font-size: 14px;
}
.dropdown_list li span.p_logo {
	border: 1px dotted rgb(221, 221, 221); width: 40px; height: 60px; display: inline-block;
}
.change-num {
	margin: 0px 20px; border: 1px solid rgb(223, 223, 223); width: 132px; height: 28px; display: inline-block;
}
.change-num a {
	background: rgb(250, 250, 250); width: 28px; height: 28px; text-align: center; color: rgb(109, 109, 109); line-height: 28px; float: left; display: inline-block;
}
.change-num a i {
	font-family: "iconfont" !important; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;
}
.change-num .amount_input {
	border-width: medium 1px; border-style: none solid; border-color: currentColor rgb(223, 223, 223); padding: 0px; width: 74px; height: 28px; text-align: center; color: rgb(51, 51, 51); line-height: 28px; font-size: 14px; float: left;
}
.money {
	color: rgb(215, 0, 0);
}
.amount_total {
	background: rgb(245, 245, 245); padding: 10px 0px; text-align: right; color: rgb(136, 136, 136); font-size: 22px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.amount_total_list {
	line-height: 23px; padding-right: 15px; font-size: 14px;
}
.amount_total_list label {
	width: 100px;
}
.amount_total_list span {
	width: 150px; display: inline-block;
}
.amount_total_result {
	padding: 15px;
}
.amount_total_result span {
	width: 150px; color: rgb(228, 57, 60);
}
.p_card {
	background: url("../images/p_card.jpeg.imagecache?type=url&width=150&height=115") no-repeat;
}
.p_huace {
	background: url("../images/p_huace.jpg.imagecache?type=url&width=150&height=125") no-repeat;
}
input.text {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(184, 184, 184) rgb(220, 220, 220) rgb(220, 220, 220) rgb(184, 184, 184); padding: 0px 4px; border-radius: 2px; width: 220px; height: 26px; color: rgb(102, 102, 102); line-height: 26px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
input[type=file].text {
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
input.text:hover {
	border: 1px solid rgb(116, 185, 239); transition:box-shadow 0.2s linear; box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1), 0px 0px 8px rgba(82,168,236,0.6); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); -webkit-transition: box-shadow linear 0.2s; -moz-transition: box-shadow linear 0.2s; -o-transition: box-shadow linear 0.2s;
}
input:disabled.text {
	background-color: rgb(246, 246, 246);
}
input:disabled.text:hover {
	border-width: 1px; border-style: solid; border-color: rgb(184, 184, 184) rgb(220, 220, 220) rgb(220, 220, 220) rgb(184, 184, 184); transition:none; box-shadow: none; background-color: rgb(246, 246, 246); -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
textarea.text {
	padding: 4px; border-radius: 2px; border: 1px solid rgb(193, 193, 193); width: 440px; height: 160px; color: rgb(102, 102, 102); font-size: 12px; box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1); -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
textarea.text:hover {
	border: 1px solid rgb(116, 185, 239); transition:box-shadow 0.2s linear; box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1), 0px 0px 8px rgba(82,168,236,0.6); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); -webkit-transition: box-shadow linear 0.2s; -moz-transition: box-shadow linear 0.2s; -o-transition: box-shadow linear 0.2s;
}
textarea:disabled.text {
	box-shadow: none; background-color: rgb(246, 246, 246); -moz-box-shadow: none; -webkit-box-shadow: none;
}
textarea:disabled.text:hover {
	border: 1px solid rgb(193, 193, 193); transition:none; box-shadow: none; background-color: rgb(246, 246, 246); -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
a.button {
	background: url("../images/common.gif") repeat-x 0px -30px; padding: 0px 14px; border-radius: 2px; border: 1px solid rgb(220, 220, 220); height: 28px; color: rgb(100, 100, 100); line-height: 28px; margin-right: 10px; float: left; display: inline-block; text-shadow: 1px 1px #ffffff; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
a.button:hover {
	background-position: 0px -60px; border: 1px solid rgb(204, 204, 204); transition:box-shadow 0.2s linear; color: rgb(51, 51, 51); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05), 0px 0px 6px rgba(0,0,0,0.15); -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 0px 6px rgba(0, 0, 0, 0.15); -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 0px 6px rgba(0, 0, 0, 0.15); -webkit-transition: box-shadow linear 0.2s; -moz-transition: box-shadow linear 0.2s; -o-transition: box-shadow linear 0.2s;
}
a.button:active {
	background-position: 0px -90px;
}
a:disabled.button {
	color: rgb(187, 187, 187);
}
a:disabled.button:hover {
	border: 1px solid rgb(220, 220, 220); transition:none; color: rgb(187, 187, 187); box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
a:disabled.button:active {
	border: 1px solid rgb(220, 220, 220); transition:none; color: rgb(187, 187, 187); box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
input.button {
	background: url("../images/common.gif") repeat-x 0px -30px; padding: 0px 14px; border-radius: 2px; border: 1px solid rgb(220, 220, 220); height: 28px; color: rgb(100, 100, 100); line-height: 28px; margin-right: 10px; display: inline-block; cursor: pointer; text-shadow: 1px 1px #ffffff; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
input.button:hover {
	background-position: 0px -60px; border: 1px solid rgb(204, 204, 204); transition:box-shadow 0.2s linear; color: rgb(51, 51, 51); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05), 0px 0px 6px rgba(0,0,0,0.15); -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 0px 6px rgba(0, 0, 0, 0.15); -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 0px 6px rgba(0, 0, 0, 0.15); -webkit-transition: box-shadow linear 0.2s; -moz-transition: box-shadow linear 0.2s; -o-transition: box-shadow linear 0.2s;
}
input.button:active {
	background-position: 0px -90px;
}
input:disabled.button {
	color: rgb(187, 187, 187);
}
input:disabled.button:hover {
	border: 1px solid rgb(220, 220, 220); transition:none; color: rgb(187, 187, 187); box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
input:disabled.button:active {
	border: 1px solid rgb(220, 220, 220); transition:none; color: rgb(187, 187, 187); box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
span.requiredField {
	color: rgb(255, 109, 109); padding-right: 3px; font-size: 10px;
}
label.fieldError {
	color: rgb(255, 176, 66); line-height: 23px; padding-left: 6px;
}
.com_icons {
	background: url("../images/icons.gif") no-repeat; width: 20px; height: 20px; overflow: hidden; margin-right: 5px; vertical-align: middle; display: inline-block;
}
.com_icons_reviews {
	background-position: -40px -140px;
}
.com_icons_aftersale {
	background: url("../images/kf.png") no-repeat;
}
.btn-calculator {
	background: url("../images/calculator.png") no-repeat; width: 24px; height: 24px; overflow: hidden; margin-right: 5px; vertical-align: middle; display: inline-block;
}
.f_sidebar {
	margin: 4px 0px 4px 3px; padding: 0px 0px 4px; top: 160px; right: 0px; float: right; position: fixed; z-index: 8000; background-color: rgb(229, 229, 229); _position: absolute;
}
.f_sidebar {
	width: 40px;
}
.f_sidebar .preview {
	background: rgb(248, 138, 75); padding: 25px 5px; text-align: center; color: rgb(255, 255, 255); font-size: 16px; cursor: pointer;
}
.f_sidebar:hover {
	width: 170px;
}
.f_sidebar:hover .preview {
	display: none;
}
.f_sidebar .cont {
	margin: -4px 0px 0px -3px; border: 1px solid rgb(202, 204, 204); width: 168px; float: left; display: none; background-color: rgb(255, 255, 255); _position: relative;
}
.f_sidebar:hover .cont {
	display: block;
}
.f_sidebar .list {
	margin: -1px; width: 100%; overflow: hidden; padding-top: 1px;
}
.f_sidebar .list .cell {
	width: 100%; height: 41px; margin-top: -1px; float: left;
}
.f_sidebar .list .list-link {
	border-width: 1px; border-style: dashed solid; border-color: rgb(202, 204, 204); width: 168px; height: 39px; display: block; position: relative; cursor: pointer;
}
.f_sidebar .list .lump {
	background-position: -185px -43px; margin: -1px 0px -1px -1px; width: 3px; height: 41px; float: left; display: none;
}
.f_sidebar .list .arrows {
	background-position: -138px -43px; top: 15px; width: 6px; height: 9px; right: 8px; display: block; position: absolute; cursor: pointer;
}
.f_sidebar .list .cell:hover {
	position: relative; z-index: 13;
}
.f_sidebar .list a.list-link:hover {
	border-width: 1px; border-style: solid; border-color: rgb(202, 204, 204) rgb(255, 224, 191) rgb(202, 204, 204) rgb(255, 133, 0); z-index: 12; background-color: rgb(255, 224, 191);
}
.f_sidebar .list a.list-link:hover .lump {
	display: block;
}
.left-fix {
	top: 0px; position: fixed;
}
.f_sidebar .list .list-txt {
	left: 21px; top: 12px; height: 13px; color: rgb(84, 84, 84); font-family: "Microsoft YaHei",Simsun,Mingliu,Arial,Helvetica; font-size: 14px; display: block; position: absolute; cursor: pointer; _font-family: Simsun;
}
.f_sidebar .list a.list-link:hover .list-txt {
	color: rgb(255, 133, 0);
}
.f_sidebar .on {
	position: relative; z-index: 12;
}
.f_sidebar .on .list-txt {
	color: rgb(255, 255, 255);
}
.f_sidebar .on a.list-link {
	border: 1px solid rgb(255, 133, 0); background-color: rgb(255, 133, 0);
}
.f_sidebar .on a.list-link:hover {
	border: 1px solid rgb(255, 133, 0); background-color: rgb(255, 133, 0);
}
.f_sidebar .on a.list-link:hover .list-txt {
	color: rgb(255, 255, 255);
}
.f_sidebar .on a .arrows {
	background-position: -145px -43px;
}
.f_sidebar .vice-on a.list-link {
	border: 1px solid rgb(255, 133, 0); background-color: rgb(255, 133, 0);
}
.f_sidebar .vice-on a.list-link:hover {
	border: 1px solid rgb(255, 133, 0); background-color: rgb(255, 133, 0);
}
.f_sidebar .vice-on a.list-link .arrows {
	background-position: -104px -49px; top: 15px; width: 9px; height: 6px; right: 7px;
}
.f_sidebar .list .vice-cell {
	border-width: medium 1px; border-style: none solid; border-color: currentColor rgb(202, 204, 204); width: 168px; overflow: hidden; float: left;
}
